//
/// Sitewide adjustments
  body {
    letter-spacing: $letter-spacing;
  }
  h1 {
    font-weight: 600;
  }
  .text-sans-serif {
    font-family: $font-family-sans-serif;
  }
  .btn-clear {
    background: none;
    border-radius: 0;
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
  }
  .btn-clear-light {
    border: 1px solid $text-light;
    background-color: rgba( $text-dark, 0.4 );
    &:hover {
      background-color: rgba( $text-light, 0.2 );
      color: white;
    }
  }
  .btn-clear-dark {
    border: 1px solid $text-dark;
    background-color: rgba( $text-light, 0.15 );
    color: $text-dark;
    &:hover {
      background-color: rgba( $text-dark, 0.15 );
      color: darken( $text-dark, 50%);
    }
  }
  .btn-full-width {
    width: 100%;
  }
  .grid-margins {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
  .has-shadow {
    box-shadow: 4px 4px 10px $gray-lighter;
  }
  .hoverable:hover {
      box-shadow: 4px 4px 15px $gray;
  }
  .thumbnail img {
    width: 100%;
  }



  //
  /// Parallax Effect
  @media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
  }
  .parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    text-align: center;
  }
//
/// Navbar
  .navbar {
    opacity: 0.9;
    margin-bottom: -$navbar-height;
    .navbar-brand {
      color: #282828;
      font-weight: 600;
    }
    a {
      text-transform: uppercase;
    }
  }
  #navBarSpacer {
    height: $navbar-height;
  }

//
/// Home page- hero
body, html {
  height: 100%;
}
.parallax {
  .hero-scroll-arrow {
    color: white;
    opacity: 0.3;
    font-size: 80px;
    font-weight: 500;
    position: absolute;
    bottom: 10px;
    transform:translateX(-25px);
  }
}
.hero-img {
    background-image: url("../img/hero1-logo.jpg");
}

//
/// Home Page- About Section
.section-about {
  padding-top: 2*$grid-gutter-width;
  padding-bottom: 2*$grid-gutter-width;
  background-image: url("../img/services-bg-2.jpg");
  background-position: bottom;
  background-size: cover;
  color: $text-light;
  button {
    margin-top: $grid-gutter-width;
  }
  .brand-logo {
    text-align: center;
    opacity: .8;
    height: 100%;
    background-image: url("../img/c9db_logo_md_white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .jumbo-text {
    text-align: center;
    font-family: $font-family-sans-serif;
    p {
      font-size: 1.1em;
    }
  }
}

//
/// Home Page- Services Section
.section-services {
  margin: $grid-gutter-width 0;
  text-align: center;
  .fa {
    margin-top: $grid-gutter-width;
    font-size: 90px;
  }
  p {
    font-family: $font-family-sans-serif;
//    font-size: 1.1em;
    color: $gray-light;
    text-align: justify;
  }
}

//
/// Home Page- Portfolio Section
.portfolio {
    color: $text-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url("../img/archive-bg3.jpg");
    background-blend-mode: lighten;
    .btn {
      margin: 5px 0;
    }
    .btn-lg {
      margin: $grid-gutter-width 0;
    }
    h1 {
      text-align: left;
      padding: $grid-gutter-width 0;
    }
}

//
/// Home Page- Contact Section
.section-contact {
  margin-bottom: -$grid-gutter-width;
}

//
/// Title Blocks
.title-block {
  text-align: right;
  border-bottom: 1px dotted $gray-light;
  margin-bottom: $grid-gutter-width;
}

//
/// Project Pages
.project-section-mockup {
  margin-bottom: $grid-gutter-width;
  img.laptopMockup {
    width: 100%;
  }
}
.project-section-info {
  h4 {
    font-weight: 600;
  }
  p {
    font-family: $font-family-sans-serif;
  }
}

//
/// Services Page
.services-section {
  ul {
    list-style: none;
    padding-left: 50px;
    li {
      font-family: $font-family-sans-serif;
    }
  }
}

//
/// Footer
footer {
  padding-top: $grid-gutter-width;
  padding-bottom: 2*$grid-gutter-width;
  .container {
    padding-top: $grid-gutter-width;
      border-top: 1px dotted $gray-light;
  }
  ul.vertical-list {
    list-style: none;
    padding: 0;
  }
  ul.social-link-list {
    list-style: none;
    padding: 0;
    display: inline-flex;
    li {
      padding: 5px;
    }
  }
  a {
    color: lighten( $text-color, 40%);
  }
}
