@import 'snippets/hero';
@import 'snippets/parallax';
@import 'snippets/buttons';
@import 'snippets/project-pages';
@import 'snippets/typography';
@import 'snippets/footer';

//
/// Sitewide adjustments
.full-window-height {
  height: 100vh;
}
  .grid-margins {
    margin-top: $grid-gutter-width;
    margin-bottom: $grid-gutter-width;
  }
  .has-shadow {
    box-shadow: 4px 4px 10px $gray-lighter;
  }
  .hoverable:hover {
      box-shadow: 4px 4px 15px $gray;
  }
  .thumbnail img {
    width: 100%;
  }
//
/// Navbar
  .navbar {
    opacity: 0.9;
    margin-bottom: -$navbar-height;
    .navbar-brand {
      color: #282828;
      font-weight: 600;
    }
    a {
      text-transform: uppercase;
    }
  }

  #navBarSpacer {
    height: $navbar-height;
    outline: none;
  }


//
/// Home Page- About Section
.section-about {
  background-image: url("../img/services-bg-2.jpg");
  background-position: center;
  background-size: cover;
  color: $text-light;
  margin-bottom: 0;
  @media (pointer: coarse) {
    padding-top: 10px;
    padding-bottom: 25px;
  }
  @media (pointer: fine) {
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
  }
  p {
    text-align: left;
    indent: 25px;
    font-family: $font-family-sans-serif;
    font-size: 1.3em;
    line-height: 2em;
    letter-spacing: .15em;
  }
  @media (min-width: $screen-sm) {
    .row {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

//
/// Home Page- Services Section
.section-services {
  margin: $grid-gutter-width 0;
  text-align: center;
  .fa {
    margin-top: $grid-gutter-width;
    font-size: 90px;
  }
  p {
    font-family: $font-family-sans-serif;
//    font-size: 1.1em;
    color: $gray-light;
    text-align: justify;
  }
}

//
/// Home Page- Portfolio Section
.portfolio {
    color: $text-light;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-image: url("../img/archive-bg3.jpg");
    background-blend-mode: lighten;
    .btn {
      margin: 5px 0;
    }
    .btn-lg {
      margin: $grid-gutter-width 0;
    }
    h1 {
      text-align: left;
      padding: $grid-gutter-width 0;
    }
}

//
/// Home Page- Contact Section
.section-contact {
  margin-bottom: -$grid-gutter-width;
}

//
/// Title Blocks
.title-block {
  text-align: right;
  border-bottom: 1px dotted $gray-light;
  margin-bottom: $grid-gutter-width;
}


//
/// Services Page
.services-section {
  ul {
    list-style: none;
    padding-left: 50px;
    li {
      font-family: $font-family-sans-serif;
    }
  }
}
