//
/// Project Pages
.project-section-mockup {
  margin-bottom: $grid-gutter-width;
  img.laptopMockup {
    width: 100%;
  }
}
.project-section-info {
  h4 {
    font-weight: 600;
  }
  p {
    font-family: $font-family-sans-serif;
  }
}
